h1 {
 margin:0;
}
#hint {
 margin:0;
 color:red;
}
fieldset{
 border: 0;
 margin: 0;
 padding: 0;
}
hr {
 height: 2px;
 background: black;
 border: none;
}
input, textarea {
 border: 1px solid black;
 border-radius: 5px;
 font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin:0;
 padding: 5px;
 width:20%;
}
textarea
{
 height:80px;;
 resize: none;
 width:25%;
}
button{
 margin: 5px 0 0 62px;
 padding: 7px 32px;
 border: 1px solid grey;
 border-radius: 5px;
 background:#f0f0f0;
 font-weight: bolder;
}
input::-webkit-input-placeholder{
 opacity: 0.3;
}
input::-ms-input-placeholder{
 opacity: 0.3;
}
input::-moz-placeholder{
 opacity: 0.3;
}
label{
 display:block;
 margin: 15px 0; 
}
#message {
 vertical-align:top;
}
span{
 display:inline-block;
 width:100px;
}
.arrow-left {
  vertical-align:middle;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right:5px solid #d45252; 
}
.message{
 vertical-align:middle;
 margin: 0;
 background:#d45252;
 padding: 5px 13px;
 color:white;
 opacity: 1;
 font-size: 15px;
}
.connector{
 display:inline; 
 margin:0 0 0 8%
}