h1 {
 margin:0;
}
#hint {
 margin:0;
 color:red;
}
fieldset{
 border: 0;
 margin: 0;
 padding: 0;
}
hr {
 height: 2px;
 background: black;
 border: none;
}
input, textarea {
 border: 1px solid black;
 border-radius: 5px;
 font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin:0;
 padding: 5px;
 width:25%;
}
textarea
{
 height:80px;;
 resize: none;
 width:30%;
}
button{
 padding: 7px 32px;
 font-weight: 600;
 border: 1px solid grey;
 border-radius: 5px;
}
input::-webkit-input-placeholder{
 opacity: 0.3;
}
input::-ms-input-placeholder{
 opacity: 0.3;
}
input::-moz-placeholder{
 opacity: 0.3;
}
label{
 display:block;
 margin: 15px 0; 
}
#message {
 vertical-align:top;
}
span{
 display:inline-block;
 width:100px;
}